<p>This component wraps all the server components.</p>

<form 
  class="row"
  (ngSubmit)="onAddServer()"
  #f="ngForm"
>
  <input 
    type="input" 
    #serverInputText 
    [(ngModel)]="serverName"
    name="serverName"
    #serverName1="ngModel"
    required
  />
  <input 
    type="submit" 
    [disabled]="!allowNewServer" 
    value="Add Server"
  >
</form>
<app-server 
  *ngFor="let server of servers; let i = index;" [ngClass]="{gt5: server > 4 }"
  [serverInput]="server"
  [testInput]="i>5"
>
  <div #childDiv>{{server.sometext | shorten:6 }} | {{server.count}}</div>
</app-server>

<p>{{ serverTextAdded }}</p>
<p>server: {{ serverCount }}</p>
<p *ngIf="!allowNewServer; else buttonEnabledText">button disabled</p>
<ng-template #buttonEnabledText>
  <p>button enabled</p>
</ng-template>