<p>This component wraps all the server components.</p>

<div class="row">
  <input type="input" #serverInputText />
  <button [disabled]="!allowNewServer" (click)="onAddServer(serverInputText)">
    Add Server
  </button>
</div>
<app-server 
  *ngFor="let server of servers; let i = index;" [ngClass]="{gt5: server > 4 }"
  [serverInput]="server"
  [testInput]="i>5"
>
  <div>the child nodes passed to {{server.sometext}}{{server.count}}</div>
</app-server>

<p>{{ serverTextAdded }}</p>
<p>server: {{ serverCount }}</p>
<p *ngIf="!allowNewServer; else buttonEnabledText">button disabled</p>
<ng-template #buttonEnabledText>
  <p>button enabled</p>
</ng-template>