<h2>personal-details</h2>
<form
  #f="ngForm"
  (ngSubmit)="onSubmitPersonalDetails()"
>
  <input type="text" name="name" placeholder="enter your name please" ngModel>
  <input type="email" name="email" placeholder="email address" ngModel email>
  <input type="password" name="password" placeholder="password" ngModel>

  <input type="submit" value="Submit">
</form>
<hr>
<h2>Address Details</h2>
<form
  [formGroup]="addressForm"
  (ngSubmit)="onSubmitAddress()"
>
    <input type="text" name="houseName" placeholder="house no/name" formControlName="houseName">
    <input type="text" name="postcode" placeholder="postcode" formControlName="postalCode">
    <input type="text" name="city" placeholder="city" formControlName="cityName">

    <br>
    <div formArrayName="extraDetails">
      <input type="button" name="extraDetailsButton" value="Add extra details" (click)="addExtraDetails()">
      <div *ngFor="let control of addressForm.get('extraDetails').controls; let i = index">
        <input type="text" [formControlName]="i">
      </div>
    </div>
    <br>
    <br>
    <input type="submit" value="Submit">
</form>
<hr>
