<h5>Active Users</h5>
<div class="row" style="border: 2px solid green; color: green">
    <div 
        class="col-md-12" 
        (click)="toggleUser(activeUser, 'active')"
        *ngFor="let activeUser of activeUsers"
    >
        {{activeUser}}
    </div>
</div>
<br>
<h5>Inactive Users</h5>
<div class="row" style="border: 2px solid black; color: brown">
    <div 
        class="col-md-12" 
        (click)="toggleUser(inactiveUser, 'inactive')"
        *ngFor="let inactiveUser of inactiveUsers"
    >
        {{inactiveUser}}
    </div>
</div>