.active {
    border: 2px solid green; 
    color: green;
}

.inactive {
    border: 2px solid black; 
    color: brown;
}


div.users:hover {
    background-color: aquamarine;
}

div.users {
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        transform: translateY(100%);
    }
  
    to {
        transform: translateY(0);
    }
}

div.leave {
    animation-duration: 1s;
    animation-name: slideout; 
}

@keyframes slideout {
    from {
        transform: translateY(0);
    }
  
    to {
        transform: translateY(100%);
    }
}